<div class="agm-container">
  <h3>Angular Google Maps Example</h3>
  <agm-map
    [zoom]="17"
    [latitude]="lat"
    [longitude]="lng"
    (mapReady)="onMapReady($event)"
  >
  <agm-polygon 
              [strokeColor]="'#FF0000'"
              [strokeWeight]="1" 
              [fillOpacity]=".25"
              [fillColor]="'#FF0000'"
              [paths]="polygonPts"
              [clickable]="false"
              [editable]="true">
    </agm-polygon> 
    <agm-marker
    *ngFor="let marker of markerPts"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [opacity]="marker.alpha"
    [markerDraggable]="true"
    (dragEnd)="markerDragEnd(marker, $event)"
    (markerClick)="selectMarker($event)"
    (positionChanged)="positionChanged($event)"
    (mouseOver)="mouseOver(marker, $event)"
    (markerRightClick)="rightClick(marker)"
    [iconUrl]="getIcon(marker.occupied)"
  >
        <agm-info-window
        maxWidth="200">
        {{marker | json}}
        </agm-info-window>
  </agm-marker>
  </agm-map>
  <br />
  <div *ngIf="pointList.length>0" class="display-flex">
    <button mat-stroked-button color="warn" (click)="deleteSelectedShape()">Clear</button>
  </div>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let point of pointList">
      {{ point.lat.toPrecision(5) }},
      {{ point.lng.toPrecision(5) }}</mat-list-item
    >
  </mat-list>
  <mat-card *ngIf="selectedArea > 0">
    <span> Selected Area: {{ selectedArea.toPrecision(5) }}m<sup>2</sup> </span>
  </mat-card>
</div>
