<div id="pac-container">
  <div [ngStyle]="{'display': showTextInput ? 'block' : 'none'}">
  <input #search id="pac-input" type="text" placeholder="Enter a location" class="flexText">
  <button mat-mini-fab class="flexButton"(click)="hideInput()">
    <mat-icon>search</mat-icon>
  </button>
  </div>
  <div  *ngIf="!showTextInput">
    <button mat-mini-fab color="primary" (click)="showInput()">
      <mat-icon>manage_search</mat-icon>
    </button>
    </div>
</div>
  <div #mapContainer id="map">
  <div *ngIf="pointList.length>0" class="display-flex">
    <button mat-stroked-button color="warn" (click)="deleteSelectedShape()">Clear</button>
  </div>

  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let point of pointList">
      {{ point.lat.toPrecision(10) }},
      {{ point.lng.toPrecision(10) }}</mat-list-item
    >
  </mat-list>
  <mat-card *ngIf="selectedArea > 0">
    <span> Selected Area: {{ selectedArea.toPrecision(5) }}m<sup>2</sup> </span>
  </mat-card>
</div>

<button (click)="codeAddress('28812 Aloma Ave, Laguna Niguel CA 92677')">Geo Code Address</button>
<button (click)="savegeofilter()">Save MyMap to DB</button>
<button mat-mini-fab (click)="showInput()">
  <mat-icon>home</mat-icon>
</button>

{{mapConfig | json}}